.catalog {
  padding: 0 2px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.catalog-item {
  padding: 20px;
  border: 1px solid lightgrey;
  border-bottom: 0;

  // debug
  .outline(red);
  min-height: 205px;
}

.catalog__more {
  padding: 20px;
  border: 1px solid lightgrey;
}

.catalog__header {
  font-size: 36px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  margin: 30px 0;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    padding: 10px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-item {
    margin-top: 130px;

    // debug
    width: 320px;
    min-height: 440px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    padding: 10px 110px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-item {
    margin-top: 130px;

    // debug
    width: 250px;
    min-height: 420px;
  }
}
