.how-it-works {
  padding: 20px;
}

.how-it-works__header {
  font-size: 36px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  margin-bottom: 30px;
}

.how-it-works-item {
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px;
}
