.request-plan {
  font-family: OswaldRegular;
  font-size: 20px;
  color: #ffffff;
  padding: 30px 38px;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.request-plan__header {
  font-size: 36px;
}

.request_plan__subtitle {
  font-size: 13.5px;
}
