* {
  box-sizing: border-box;
}

ol,
ul,
li,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  vertical-align: baseline;
}

body {
  min-width: @min-width;
}

.container {
  width: @min-width;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .container {
    width: @tablet-width;
  }
}


@media (min-width: @desktop-width) {
  .container {
    width: @desktop-width;
  }
}
