@import "variables";
@import "common";
@import "blocks/top-nav";
@import "blocks/nav-menu";
@import "blocks/request-plan";
@import "blocks/program";
@import "blocks/how-it-works";
@import "blocks/example";
@import "blocks/footer";
@import "blocks/catalog";

@font-face {
  font-family: "OswaldMedium";
  src: url("/fonts/oswaldmedium.woff");
  src: url("/fonts/oswaldmedium.woff2");
}

@font-face {
  font-family: "OswaldRegular";
  src: url("/fonts/oswaldregular.woff");
  src: url("/fonts/oswaldregular.woff2");
}
